<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @drug.name %>
</p>

<p>
  <strong>Dose:</strong>
  <%= @drug.dose %>
</p>

<p>
  <strong>Company:</strong>
  <%= @drug.company %>
</p>

<%= link_to 'Edit', edit_drug_path(@drug) %> |
<%= link_to 'Back', drugs_path %>
