  <%= turbo_frame_tag patient do %>

<p>
    f_name: <%= patient.first_name %>
  </p>
  <p>
    l_name: <%= patient.last_name %>
  </p>
  <p>
    dob: <%= patient.dob %>
  </p>
  <p>
    phone: <%= patient.phone %>
  </p>
  <p>
    email: <%= patient.email %>
  </p>
  <p>
    active: <%= patient.active %>
  </p>
  <hr>
<% end %>
