<p id="notice"><%= notice %></p>

<h1>Patients</h1>

<%= form_with url: "", method: :get, data: { turbo_frame: "patients", turbo_action: "advance" } do |form| %>
  Show <%= form.select :count, options_for_select([10, 25, 50, 100], selected: params[:count]), {}, { onchange: "this.form.requestSubmit()" } %>
  Search <%= form.search_field :query, value: params[:query], oninput: 'this.form.requestSubmit()' %>
<% end %>

<%= turbo_frame_tag 'patients' do %>
  <div class="table">
    <div class="table-header-group">
      <%= link_to "f_name", "#", class: 'table-cell pr-4' %>
      <%= link_to "l_name", "#", class: 'table-cell pr-4' %>
      <%= link_to "dob", "#", class: 'table-cell pr-4' %>
      <%= link_to "phone", "#", class: 'table-cell pr-4' %>
      <%= link_to "email", "#", class: 'table-cell pr-4' %>
      <%= link_to "active", "#", class: 'table-cell pr-4' %>
    </div>
  </div>
  <%= render @patients %>
  <%== pagy_nav @pagy %>
<% end %>
<br>

<%= link_to 'New Patient', new_patient_path %>
