<p id="notice"><%= notice %></p>

<h1>Patients</h1>

<%= form_with url: "", method: :get, data: { turbo_frame: "patients", turbo_action: "advance" } do |form| %>
  Show <%= form.select :count, options_for_select([10, 25, 50, 100], selected: params[:count]), {}, { onchange: "this.form.requestSubmit()" } %>
  Search <%= form.search_field :query, value: params[:query], oninput: 'this.form.requestSubmit()' %>
<% end %>

<%= turbo_frame_tag 'patients' do %>
  <%= render @patients %>
<%== pagy_nav @pagy %>
<% end %>
<br>

<%= link_to 'New Patient', new_patient_path %>
