<%= form_with(model: post, data:
  {reflex: "submit->PostReflex#create"}) do |form| %>
  <% if @post.errors.any? %>
    <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

 <div class="row">
   <div class="col">
     <%= form.label :title %>
     <%= form.text_field :title %>
     <%= form.error_for :title %>
   </div>

   <div class="col">
     <%= form.label :body %>
     <%= form.text_field :body %>
     <%= form.error_for :body %>
   </div>

   <div class="col">
     <%= form.submit %>
   </div>
 </div>
<% end %>
